.about-us {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

section h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

strong {
    font-size: 22px;
    color: #000;
}